<br>
<div class="show-content">
  <%@tags.each do |tag|%>
    <h1 class="h1" ><%=tag.category.capitalize%></h1>
      <% if tag.transaction_count == 1 %>
        <p class="font-karla" >You have had <span class="span"><%= tag.transaction_count() %></span> transaction and spent a total of <span class="span">£<%= tag.total_tag_spending().round(2) %></span> on <%= tag.category() %>.</p>
      <% else %>
        <p class="font-karla" >You have had <span class="span"><%= tag.transaction_count() %></span> transactions and spent a total of <span class="span">£<%= tag.total_tag_spending().round(2) %></span> on <%= tag.category() %>.</p>
      <%end%>
  <%end%>
</div>
