<div class="new-div">
    <a class="new" href="/transactions/new">Add New Transaction</a>
</div>

  <h3 class="h3">Filters: </h3>

  <table class="table">
    <td class="th">
      <form action="/transactions/merchant_filter" method="GET">
        <label for="merchant_filter">By merchant:</label>
        <br>
        <input class="filter-input" id="merchant_filter" type="text" placeholder="name" name="name">
        <input class="button" type="submit" value="filter results">
      </form>
    </td>
    <td class="th">
      <form action="/transactions/tag_filter" method="GET">
        <label for="tag_filter">By tag:</label>
        <br>
        <input class="filter-input" id="tag_filter" type="text" placeholder="tag" name="tag">
        <input class="button" type="submit" value="filter results">
      </form>
    </td>
    <td class="th">
      <form action="/transactions/date_filter" method="GET">
        <label for="filter-date">By date:</label>
        <br>
        <input class="filter-input" id="filter-date" type="date" name="date">
        <input class="button" type="submit" value="filter results">
      </form>
    </td>
  </table>

<h3 class="h3">Most recent transaction:</h3>

    <table class="table">
      <thead class="th">
        <th>#</th>
        <th>Merchant</th>
        <th>Charge</th>
        <th>Time/Date</th>
        <th>Category</th>
      </thead>
      <tr class="td">
        <td>1</td>
        <td><%= @most_recent.find_merchant_by_id.name %></td>
        <td>£<%= @most_recent.charge %></td>
        <td><%= @most_recent.date %></td>
        <td><%= @most_recent.find_tag_by_id.category.upcase %></td>
        <td>
          <a class="link" href="/transactions/<%= @most_recent.id %>/update">Update transaction</a>
        </td>
        <td>
          <form action="/transactions/<%= @most_recent.id %>/delete" method="POST">
            <input class="button" type="submit" value="Delete transaction" />
          </form>
        </td>
      </tr>
    </table>

  <h3 class="h3">Most expensive transaction:</h3>


    <table class="table">
      <thead class="th">
        <th>#</th>
        <th>Merchant</th>
        <th>Charge</th>
        <th>Time/Date</th>
        <th>Category</th>
      </thead>
      <tr class="td">
        <td>1</td>
        <td><%= @most_expensive.find_merchant_by_id.name %></td>
        <td>£<%= @most_expensive.charge %></td>
        <td><%= @most_expensive.date %></td>
        <td><%= @most_expensive.find_tag_by_id.category.upcase %></td>
        <td>
          <a class="link" href="/transactions/<%= @most_expensive.id %>/update">Update transaction</a>
        </td>
        <td>
          <form action="/transactions/<%= @most_expensive.id %>/delete" method="POST">
            <input class="button" type="submit" value="Delete transaction" />
          </form>
        </td>
      </tr>
    </table>


  <h3 class="h3">Transaction History:</h3>


    <table class="table">
      <% transaction_num = 1 %>
      <thead class="th">
        <th>#</th>
        <th>Merchant</th>
        <th>Charge</th>
        <th>Time/Date</th>
        <th>Category</th>
      </thead>
      <% for transaction in @transactions %>
      <tr class="td">
        <td><%= transaction_num %></td>
        <td><%= transaction.find_merchant_by_id().name %></td>
        <td>£<%= transaction.charge %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.find_tag_by_id().category.upcase %></td>
        <td>
          <a class="link" class="font-karla" href="/transactions/<%= transaction.id %>/update">Update transaction</a>
        </td>
        <td>
          <form action="/transactions/<%= transaction.id %>/delete" method="POST">
            <input class="button" class="font-karla" type="submit" value="Delete transaction" />
          </form>
        </td>
        <% transaction_num += 1 %>
        <%end%>
      </tr>
    </table>
