<h1>Transactions</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/bitings/new">New Transaction</a>
</p>

<ul>
  <% for transaction in @transactions %>
    <li>ID: <%= transaction.id %></li>
    <li>Charge: <%= transaction.charge %></li>
    <li>Merchant ID: <%= transaction.merchant_id %></li>
    <li>tag ID: <%= transaction.tag_id %></li>
    <li>Date and Time: <%= transaction.date %></li>
  <%end%>
</ul>
