<div class="">
  <h1>Your transactions</h1>

  <p class="btn--wrapper">
    <a class="btn btn--action" href="/transactions/new">New Transaction</a>
  </p>

  <ul>
    <% transaction_num = 1 %>
    <% for transaction in @transactions %>
      <p>Transaction <%= transaction_num %>:</p>
      <li>Merchant: <%= transaction.find_merchant_by_id().name %></li>
      <li>Charge: <%= transaction.charge %></li>
      <li>Time and Date: <%= transaction.date %></li>
      <li>Category: <%= transaction.find_tag_by_id().category.upcase %></li>
      <p>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete transaction" />
        </form>
      </p>
      <% transaction_num += 1 %>
    <%end%>
  </ul>
</div>
