<h3 class="most_recent_p">Most recent transaction:</h3>

  <div class="most_recent_table">
    <table>
      <th>
        <td>Merchant</td>
        <td>Charge</td>
        <td>Time/Date</td>
        <td>Category</td>
      </th>
      <tr>
        <td><%= @most_recent.find_merchant_by_id.name %></td>
        <td>£<%= @most_recent.charge %></td>
        <td><%= @most_recent.date %></td>
        <td><%= @most_recent.find_tag_by_id.category %></td>
      </tr>
    </table>
  </div>

  <h3 class="h1">Transaction History</h3>

<div class="index_table">
  <table>
    <% transaction_num = 1 %>
    <th class="table_head">
      <td>Merchant</td>
      <td>Charge</td>
      <td>Time/Date</td>
      <td>Category</td>
    </th>
    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction_num %></td>
      <td><%= transaction.find_merchant_by_id().name %></td>
      <td>£<%= transaction.charge %></td>
      <td><%= transaction.date %></td>
      <td><%= transaction.find_tag_by_id().category.upcase %></td>
      <td>
        <form action="/transactions/<%= transaction.id %>" method="post">
          <input class="btn btn--danger" type="submit" value="Update transaction">
        </form>
      </td>
      <td>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete transaction" />
        </form>
      </td>
      <% transaction_num += 1 %>
      <%end%>
    </tr>

  </table>
</div>


  <p class="index_button">
    <a class="btn btn--action" href="/transactions/new">New Transaction</a>
  </p>

</div>
