<h2 class="most_recent_h2">Filtered transactions:</h2>
<h3 class="most_recent_h3">By merchant selected:</h3>

<div class="filter_merchant_table">
  <table>
    <% transaction_num = 1 %>
    <thead class="table_head">
      <th>#</th>
      <th>Merchant</th>
      <th>Charge</th>
      <th>Time/Date</th>
      <th>Category</th>
    </thead>
    <% @filtered_merchants.each do |transaction| %>
    <tr>
      <td><%= transaction_num %></td>
      <td><%= transaction.find_merchant_by_id.name %></td>
      <td>£<%= transaction.charge %></td>
      <td><%= transaction.date %></td>
      <td><%= transaction.find_tag_by_id.category.upcase %></td>
      <% transaction_num += 1 %>
    <%end%>
    </tr>
  </table>
</div>
