<h2 class="h2">Filtered transactions:</h2>
<h3 class="h3">By tag selected:</h3>

<div class="table">
  <table class="table-align">
    <% transaction_num = 1 %>
    <thead class="table_head">
      <th class="font-karla" >#</th>
      <th class="font-karla" >Merchant</th>
      <th class="font-karla" >Charge</th>
      <th class="font-karla" >Time/Date</th>
      <th class="font-karla" >Category</th>
    </thead>
    <% @filtered_tags.each do |transaction| %>
    <tr>
      <td class="font-karla" ><%= transaction_num %></td>
      <td class="font-karla" ><%= transaction.find_merchant_by_id.name %></td>
      <td class="font-karla" >£<%= transaction.charge %></td>
      <td class="font-karla" ><%= transaction.date %></td>
      <td class="font-karla" ><%= transaction.find_tag_by_id.category.upcase %></td>
      <% transaction_num += 1 %>
    <%end%>
    </tr>
  </table>
</div>
