<h1 class="h1">Update transaction</h1>

<form action="/transactions/<%= @transaction.id %>" method="post">

  <label class="font-karla">
    Select a merchant:
    <select name="merchant_id">
      <% @merchants.each do |merchant| %>
        <% if merchant.id == @transaction.merchant_id %>
          <option class="font-karla" value=<%= merchant.id %> selected ><%= merchant.name %></option>
        <%else%>
          <option class="font-karla" value=<%= merchant.id %>><%= merchant.name %></option>
        <%end%>
      <% end %>
    </select>
  </label>

  <br>

  <label class="font-karla">
    Select a tag:
      <select name="tag_id">
        <% @tags.each do |tag| %>
          <% if tag.id == @transaction.tag_id%>
            <option class="font-karla" value=<%= tag.id %> selected ><%= tag.category %></option>
          <%else%>
            <option class="font-karla" value=<%= tag.id %>><%= tag.category %></option>
          <%end%>
        <% end %>
      </select>
  </label>

  <br>

  <label class="font-karla">
    Input charge:
      <input class="font-karla" type="number" step="0.01" placeholder="<%=@transaction.charge %>" name="charge" required>
  </label>

  <br>

  <input class="font-karla" class="btn btn--action" type='submit' value="Update Transaction">
</form>

<div class="cancel-link">
  <a class="font-karla" href="/transactions">Cancel</a>
</div>
