<h1>Update transaction</h1>

<form action="/transactions/update" method="post">

  <label>
    Select a merchant:
    <select name="merchant_id">
      <% @merchant.each do |merchant| %>
        <% if merchant.id == @transaction.merchant_id %>
          <option value="<%= merchant.id %>" selected><%= merchant.name %></option>
        <%else%>
          <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <%end%>
    </select>
  </label>

  <br>

  <label>
    Select a tag:
      <select name="tag_id">
        <% @tags.each do |tag| %>
          <% if tag.id == @transaction.tag_id%>
            <option value="<%= tag.id %>" selected><%= tag.category %></option>
          <%else%>
            <option value="<%= tag.id %>"><%= tag.category %></option>
        <%end%>
      </select>
  </label>

  <br>

  <label>
    Input charge:
      <input type="number" placeholder="<%@transaction.charge %>" name="charge" required>
  </label>

  <br>

  <input class="btn btn--action" type='submit' value="Update Transaction">
</form>
